&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";

    sda-pin = <9>;
    scl-pin = <8>;

    tca0: gpio@20 {
        compatible = "nxp,pca9555";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    tca1: gpio@21 {
        compatible = "nxp,pca9555";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    tca2: gpio@22 {
        compatible = "nxp,pca9555";
        reg = <0x22>;
        gpio-controller;
        #gpio-cells = <2>;
    };

    tca3: gpio@23 {
        compatible = "nxp,pca9555";
        reg = <0x23>;
        gpio-controller;
        #gpio-cells = <2>;
    };
};
